html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.fz-lg {
  font-size: 48px;
  line-height: 72px; }

.fz-md {
  font-size: 20px;
  line-height: 30px; }

.fz-xs {
  font-size: 16px;
  line-height: 24px; }

.noto-regular {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400; }

.noto-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700; }

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic; }

.c-initial {
  color: initial; }

.c-white {
  color: #fff; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu li {
    margin-left: 64px; }
    .menu li a {
      color: #fff; }

@media (max-width: 768px) {
  header {
    padding: 30px 39px; }
  .menu li {
    margin-left: 40px; } }

@media (max-width: 375px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: initial; }
  .logo {
    padding: 10px 163px; }
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu li {
      margin-left: 0;
      padding: 8px 52.5px;
      border: 1px solid #fff; }
      .menu li:nth-child(3) {
        padding: 8px 62.5px; } }

.blog-menu {
  background-color: #650300;
  color: #fff;
  padding: 12px 0 14px;
  font-size: 20px;
  line-height: 24px; }
  .blog-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blog-list li {
    margin-right: 48px; }

@media (max-width: 768px) {
  .blog-menu {
    font-size: 16px;
    line-height: 22px;
    padding: 16px 39px; } }

@media (max-width: 375px) {
  .blog-menu {
    display: none; } }

.blog-item {
  padding: 82px 0 156px; }

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px; }
  .blog-info:nth-child(5) {
    margin-bottom: 110px; }

.blog-image {
  width: 50%;
  margin-right: 30px; }
  .blog-image img {
    display: block; }

.blog-text {
  width: 50%; }
  .blog-text h2 {
    font-size: 32px;
    line-height: 45px;
    color: #650300; }
  .blog-text h3, .blog-text p {
    text-align: left;
    font-size: 20px;
    line-height: 30px; }
  .blog-text h4 {
    font-size: 16px;
    line-height: 21px; }
  .blog-text a {
    font-size: 36px;
    line-height: 48px;
    color: #650300; }
  .blog-text li:nth-last-child(1) {
    text-align: right; }
  .blog-text p {
    margin-bottom: 78px; }

.blog-text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagination li {
    border: 1px solid #000;
    width: 2.5%;
    padding: 10px 0 12px;
    text-align: center; }
    .pagination li:nth-child(1) {
      width: 5%; }
    .pagination li:nth-last-child(1) {
      width: 5%; }
  .pagination .active {
    background-color: #000; }
    .pagination .active a {
      color: #fff; }

@media (max-width: 768px) {
  .blog-item {
    padding: 40px 39px 104px; }
  .blog-text h2 {
    font-size: 20px;
    line-height: 28px; }
  .blog-text h3 {
    font-size: 16px;
    line-height: 21px; }
  .blog-text h4 {
    font-size: 14px;
    line-height: 19px; }
  .blog-text p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0; }
  .blog-text a {
    font-size: 14px;
    line-height: 21px; }
  .blog-text li:nth-last-child(1) {
    display: inline; }
    .blog-text li:nth-last-child(1) p {
      display: inline; }
  .blog-info {
    margin-bottom: 32px; }
    .blog-info:nth-child(5) {
      margin-bottom: 104px; }
  .pagination li {
    width: 5%;
    padding: 10px 0 12px; }
    .pagination li:nth-child(1) {
      width: 10%; }
    .pagination li:nth-last-child(1) {
      width: 10%; } }

@media (max-width: 375px) {
  .blog-item {
    padding: 24px 15px 56px; }
  .blog-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 26px; }
  .blog-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px; }
  .blog-text {
    width: 100%; }
    .blog-text h2 {
      font-size: 16px;
      line-height: 22px; }
    .blog-text h3, .blog-text h4 {
      font-size: 14px;
      line-height: 19px; }
    .blog-text li:nth-last-child(1) {
      display: none; }
  .blog-text-info {
    margin-bottom: 0; }
  .pagination li {
    width: 10%;
    padding: 8px 0; }
    .pagination li:nth-child(1) {
      width: 15%; }
    .pagination li:nth-last-child(1) {
      width: 15%; }
    .pagination li a {
      font-size: 12px;
      line-height: 18px; } }

footer {
  padding: 36px 0 40px;
  background-color: #AA0601;
  color: #fff; }
  footer .container {
    text-align: left; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
  border-bottom: 1px solid #fff; }
  .footer-menu a {
    display: block; }

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px; }
  .footer-menu-list li {
    margin-right: 48px; }

.footer-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-menu-icon li {
    margin-left: 32px; }

.footer-menu-info {
  margin-bottom: 5px; }
  .footer-menu-info span {
    font-size: 36px;
    line-height: 54px; }
  .footer-menu-info li {
    margin-bottom: 17px; }
  .footer-menu-info img {
    vertical-align: middle;
    margin-right: 17px; }

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-copyright img {
    margin-right: 38px;
    vertical-align: middle; }
  .footer-copyright a {
    font-size: 14px;
    line-height: 21px; }
  .footer-copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.footer-copyright-menu li {
  margin-left: 62px; }

@media (max-width: 768px) {
  footer {
    padding: 40px 39px 40px 48px; }
  .footer-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-menu-list li {
    margin-right: 40px; }
  .footer-menu-icon li {
    width: 24px;
    margin-left: 24px; }
  .footer-menu-info span {
    font-size: 20px;
    line-height: 30px; }
  .footer-menu-info img {
    width: 24px; }
  .footer-copyright img {
    display: none; }
  .footer-copyright p {
    font-size: 14px;
    line-height: 21px; }
  .footer-copyright-menu li {
    margin-left: 24px; } }

@media (max-width: 375px) {
  footer {
    padding: 25px 15px; }
  .footer-menu {
    margin-bottom: 18px; }
  .footer-menu-list li {
    display: none; }
  .footer-menu-info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 17px; }
    .footer-menu-info li {
      margin-bottom: 7px; }
    .footer-menu-info img {
      width: 20px;
      margin-right: 4px; }
    .footer-menu-info span {
      font-size: 16px;
      line-height: 30px; }
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: relative; }
    .footer-copyright img {
      display: initial;
      width: 47px;
      margin-right: 0; }
  .footer-copyright-text img {
    position: absolute;
    right: 0;
    bottom: 0; }
  .footer-copyright-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-copyright-menu li {
      margin-left: 0; } }
/*# sourceMappingURL=blog.css.map */