html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.fz-lg {
  font-size: 48px;
  line-height: 72px; }

.fz-md {
  font-size: 20px;
  line-height: 30px; }

.fz-xs {
  font-size: 16px;
  line-height: 24px; }

.noto-regular {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400; }

.noto-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700; }

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic; }

* {
  color: #650300; }

.c-initial {
  color: initial; }

.c-white {
  color: #fff; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; }

h2 {
  font-size: 48px;
  line-height: 72px; }

header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu li {
    margin-left: 64px; }
    .menu li a {
      color: #fff; }

@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 48px; }
  header {
    padding: 30px 39px; }
  .menu li {
    margin-left: 40px; } }

@media (max-width: 375px) {
  h2 {
    font-size: 24px;
    line-height: 48px; }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: initial; }
  .logo {
    padding: 10px 163px; }
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu li {
      margin-left: 0;
      padding: 8px 52.5px;
      border: 1px solid #fff; }
      .menu li:nth-child(3) {
        padding: 8px 62.5px; } }

.banner {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat;
  padding: 350px 405px 350px 939px;
  background-size: cover;
  text-align: right; }

.banner-info p {
  font-size: 36px;
  line-height: 54px;
  padding-left: 63px; }

.banner-info h1 {
  font-size: 64px;
  line-height: 96px; }

@media (max-width: 768px) {
  .banner {
    padding: 372px 39px 373px 297px;
    background-position: center; }
  .banner-info p {
    font-size: 20px;
    line-height: 30px;
    padding-left: 140px; }
  .banner-info h1 {
    font-size: 48px;
    line-height: 72px; } }

@media (max-width: 375px) {
  .banner {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png) no-repeat;
    background-size: cover;
    padding: 164px 15px 163px 72px; }
  .banner-info p {
    font-size: 16px;
    line-height: 22px;
    padding-left: 54px; }
  .banner-info h1 {
    font-size: 32px;
    line-height: 45px; } }

.service {
  padding: 64px 0;
  background-color: #AA06010D; }
  .service h2 {
    margin-bottom: 64px; }
  .service ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }

.service-info {
  width: 18%; }
  .service-info .service-icon {
    margin-bottom: 40px; }
  .service-info h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 4px; }
  .service-info p {
    text-align: left;
    color: #000; }

@media (max-width: 768px) {
  .service {
    padding: 40px 85px 40px; }
    .service h2 {
      margin-bottom: 32px; }
    .service ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .service-info {
    width: 40%;
    margin-bottom: 40px; }
    .service-info .service-icon {
      margin-bottom: 16px; }
    .service-info:nth-child(2) {
      -webkit-box-ordinal-group: -1;
          -ms-flex-order: -2;
              order: -2; }
    .service-info:nth-child(3) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
    .service-info h3 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 8px; } }

@media (max-width: 375px) {
  .service {
    padding: 32px 55.5px 12px; }
    .service h2 {
      margin-bottom: 20px; }
    .service ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .service-info {
    width: 90%;
    margin-bottom: 40px; }
    .service-info .service-icon {
      margin-bottom: 16px; }
    .service-info h3 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 8px; } }

.product {
  padding: 64px 0 80px; }
  .product h2 {
    margin-bottom: 60px; }

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px; }
  .product-info:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .product-info:nth-child(2) .product-image {
      margin-right: 0;
      margin-left: 30px; }
  .product-info .product-image {
    margin-right: 30px; }
  .product-info .product-icon {
    margin-right: 8px; }
  .product-info span {
    color: #AA0601; }

@media (max-width: 768px) {
  .product {
    padding: 40px 39px; }
    .product h2 {
      margin-bottom: 24px; }
  .product-info {
    margin-top: 8px;
    margin-bottom: 0; }
    .product-info:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .product-info:nth-child(2) .product-image {
        margin-left: 0;
        margin-right: 30px; }
    .product-info .product-image {
      width: 390px; }
    .product-info .product-icon {
      width: 32px;
      vertical-align: -40%; }
    .product-info span {
      font-size: 28px;
      line-height: 42px; } }

@media (max-width: 375px) {
  .product {
    padding: 32px 15px; }
  .product-image {
    display: none; }
  .product-info:nth-child(1) {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-1.png) center no-repeat;
    background-size: cover;
    padding: 48px 96px; }
    .product-info:nth-child(1) .product-icon {
      margin-right: 0;
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond-white.svg) no-repeat;
      width: 32px;
      height: 25px;
      padding-left: 32px; }
  .product-info:nth-child(2) {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png) center no-repeat;
    background-size: cover;
    padding: 48px 66px; }
    .product-info:nth-child(2) .product-icon {
      margin-right: 0;
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun-white.svg) no-repeat;
      width: 32px;
      height: 32px;
      padding-left: 32px; }
  .product-info:nth-child(3) {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png) center no-repeat;
    background-size: cover;
    padding: 48px 73px; }
    .product-info:nth-child(3) .product-icon {
      margin-right: 0;
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder-white.svg) no-repeat;
      width: 23px;
      height: 32px;
      padding-left: 23px; }
  .product-info span {
    color: #fff; } }

.joint-design {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) center center no-repeat;
  padding: 64px 0 80px; }
  .joint-design h2 {
    color: #fff;
    margin-bottom: 60px; }
  .joint-design ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .joint-design h3 {
    font-size: 72px;
    line-height: 108px;
    color: #AA0601; }
  .joint-design .joint-design-double {
    margin-right: 30px;
    padding: 188px 104px;
    position: relative;
    background-color: #fff; }
    .joint-design .joint-design-double:before {
      content: "";
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png) no-repeat center center;
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
  .joint-design .joint-design-youth {
    padding: 188px 152px;
    background-color: #fff;
    position: relative; }
    .joint-design .joint-design-youth:before {
      content: "";
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png) no-repeat center center;
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }

@media (max-width: 768px) {
  .joint-design {
    padding: 40px 39px;
    background-size: cover; }
    .joint-design h2 {
      margin-bottom: 32px; }
    .joint-design h3 {
      font-size: 32px;
      line-height: 25px; }
    .joint-design .joint-design-double {
      padding: 118px 91px; }
    .joint-design .joint-design-youth {
      padding: 118px 112px; } }

@media (max-width: 375px) {
  .joint-design {
    padding: 32px 15px; }
    .joint-design h2 {
      margin-bottom: 20px; }
    .joint-design ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .joint-design .joint-design-double {
      padding: 120px 98px;
      margin-right: 0;
      margin-bottom: 16px; }
    .joint-design .joint-design-youth {
      padding: 120px; } }

.recommendation {
  padding: 64px 0; }
  .recommendation h2 {
    margin-bottom: 60px; }

.recommendation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left; }
  .recommendation-info img {
    display: block;
    max-width: 100%; }
  .recommendation-info li {
    max-width: calc( 100%/4 - 30px); }
  .recommendation-info .recommendation-text {
    padding: 15px 16px;
    border: 1px solid #DEE2E6; }
    .recommendation-info .recommendation-text h3 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 7px; }
    .recommendation-info .recommendation-text h4 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px; }
    .recommendation-info .recommendation-text p {
      font-size: 14px;
      line-height: 21px;
      color: #707070; }

@media (max-width: 768px) {
  .recommendation {
    padding: 40px 39px 12px; }
    .recommendation h2 {
      margin-bottom: 32px; }
  .recommendation-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .recommendation-info li {
      max-width: calc( 100%/2 - 30px); }
    .recommendation-info .recommendation-text {
      margin-bottom: 28px; } }

@media (max-width: 375px) {
  .recommendation {
    padding: 32px 15px; }
  .recommendation-info img {
    width: 100%; }
  .recommendation-info li {
    max-width: 100%; } }

.contact {
  padding: 64px 595px 80px;
  background-color: #AA06010D; }
  .contact h2 {
    text-align: center;
    margin-bottom: 24px; }
  .contact p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px; }

.contact-form-group {
  margin-bottom: 16px; }
  .contact-form-group label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px; }
  .contact-form-group input {
    display: block;
    width: 100%;
    padding: 14px 16px;
    background-color: transparent;
    border: 1px solid #000; }
  .contact-form-group textarea {
    display: block;
    width: 100%;
    padding: 14px 16px 100px;
    background-color: transparent;
    border: 1px solid #000; }
  .contact-form-group:nth-child(5) {
    margin-bottom: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact-form-group:nth-child(5) input, .contact-form-group:nth-child(5) label {
      display: initial;
      width: initial; }

.contact-button {
  display: block;
  color: #fff;
  padding: 16px 143px;
  background-color: #AA0601;
  border: 0;
  margin: 0 auto; }

@media (max-width: 768px) {
  .contact {
    padding: 40px 159px 48px; }
    .contact h2 {
      margin-bottom: 16px; }
    .contact p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px; }
  .contact-form-group label {
    font-size: 14px;
    line-height: 21px; }
  .contact-form-group input {
    padding: 8px 12px; }
  .contact-form-group textarea {
    padding: 8px 12px 72px; }
  .contact-form-group .contact-button {
    padding: 8px 76px; } }

@media (max-width: 375px) {
  .contact {
    padding: 32px 15px; }
  .contact-button {
    padding: 8px 54.5px; }
  .contact-form-group {
    margin-bottom: 8px; }
    .contact-form-group:nth-child(5) {
      margin-bottom: 24px; } }

footer {
  padding: 36px 0 40px;
  background-color: #AA0601;
  color: #fff; }
  footer .container {
    text-align: left; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
  border-bottom: 1px solid #fff; }
  .footer-menu a {
    display: block; }

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px; }
  .footer-menu-list li {
    margin-right: 48px; }

.footer-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-menu-icon li {
    margin-left: 32px; }

.footer-menu-info {
  margin-bottom: 5px; }
  .footer-menu-info span {
    font-size: 36px;
    line-height: 54px; }
  .footer-menu-info li {
    margin-bottom: 17px; }
  .footer-menu-info img {
    vertical-align: middle;
    margin-right: 17px; }

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-copyright img {
    margin-right: 38px;
    vertical-align: middle; }
  .footer-copyright a {
    font-size: 14px;
    line-height: 21px; }
  .footer-copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.footer-copyright-menu li {
  margin-left: 62px; }

@media (max-width: 768px) {
  footer {
    padding: 40px 39px 40px 48px; }
  .footer-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-menu-list li {
    margin-right: 40px; }
  .footer-menu-icon li {
    width: 24px;
    margin-left: 24px; }
  .footer-menu-info span {
    font-size: 20px;
    line-height: 30px; }
  .footer-menu-info img {
    width: 24px; }
  .footer-copyright img {
    display: none; }
  .footer-copyright p {
    font-size: 14px;
    line-height: 21px; }
  .footer-copyright-menu li {
    margin-left: 24px; } }

@media (max-width: 375px) {
  footer {
    padding: 25px 15px; }
  .footer-menu {
    margin-bottom: 18px; }
  .footer-menu-list li {
    display: none; }
  .footer-menu-info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 17px; }
    .footer-menu-info li {
      margin-bottom: 7px; }
    .footer-menu-info img {
      width: 20px;
      margin-right: 4px; }
    .footer-menu-info span {
      font-size: 16px;
      line-height: 30px; }
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: relative; }
    .footer-copyright img {
      display: initial;
      width: 47px;
      margin-right: 0; }
  .footer-copyright-text img {
    position: absolute;
    right: 0;
    bottom: 0; }
  .footer-copyright-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-copyright-menu li {
      margin-left: 0; } }
/*# sourceMappingURL=index.css.map */